

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rouge+Script&display=swap');

* {
    font-family: 'Rouge Script', cursive;
    color: rgb(53, 28, 28);
    margin: 0%;
    padding: 0%;
    
}

@import "base/variables";
@import "base/mapas";
@import "base/mixin";
@import "base/extends";
@import "componentes/header";
@import "componentes/cuerpo";
@import "componentes/footer";
